.card-cover {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 72%;
    /* 按照16:9宽高比计算 */
    overflow: hidden;
  }
  
  #card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .ConfirmButton{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
  }